<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html,body,div,li,h1,h2,h3,h4,h5,h6,p {
            margin: 0;
            padding: 0;
        }
        html,body {
            width: 100%;
        }
    </style>
</head>
<body>
    <div style="margin: 0 auto; width: 600px;">
<!--        <img th:src="@{${logoImage}}" style="height: 400px; width: 400px;">-->
        <h3>注册成功通知</h3>
        <p>
<!--            恭喜您，您的账户 <span th:text="${username}"></span> 注册成功。-->
            <img src="">http://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo_top_86d58ae1.png
        </p>
        <p>
<!--            <span th:text="${createTime}"></span>-->
            网易鼓励企业用户在遵守互联网标准的前提下，向网易邮箱用户发送已经许可的邮件。为了确保您的邮件能及时准确的投递到网易邮箱，请首先确认您没有违背网易的反垃圾政策，点击查看详情。
            　　若您的邮件仍无法到达网易邮箱，并收到退信，请根据退信的返回字段，在下面的表单查询具体的退信原因。如果这些信息仍不能解决你的问题，那么请点击这里填写故障反馈表。
        </p>
    </div>
</body>
</html>